.grid-container{
    width: 80%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    grid-gap: 5px 5px;
    justify-content: center;
    max-width: 1100px;
}

