.container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  height: 120px; 
  background-color: #4E1008; 
  z-index: 1000; 
}

.innerDiv{
  display: flex;
  flex-direction: row;
  clear: right;
}

.link{
  padding: 10px;
  margin: auto 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FCDBBD;
  cursor: pointer;
  text-align: right;
}

.link:hover{
  text-decoration: underline;
}


.profileButton{
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

.profileLink{
  margin: auto auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #FCDBBD;
  cursor: pointer;
  text-align: right;
}


.profilePic{
  padding: 0 8px;
  height: 50px;
  width: 50px;
  margin-top: 35px;
  cursor: pointer;
}