.container{
    height: 250px;
    width: 300px;
    background-color: #FCDBBD;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.image{
    width: auto;
    height: 150px;
    margin: 5px auto;
    cursor: pointer;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: left;
    margin-bottom: 0;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #B11C14;
    text-align: left;
    margin-top: 5px;
}
