.container{
    background-color: #270802;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}

.title{
    margin-top: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FCDBBD;
    margin-bottom: 0px;
}

.subtitle{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FCDBBD;
    font-style: italic;
}